PORT=8081
HOST=0.0.0.0
SUI_RPC_URL=https://rpc.ankr.com/sui/testnet
GRANITE_LAKE_PACKAGE_ID=0xd06ff3a35bb182b5e4577440d71470373fc4c36315c27dca90c8af3e8d9367b6
# GRANITE_LAKE_ORIGINAL_PACKAGE_ID defaults to GRANITE_LAKE_PACKAGE_ID; only set
# this once this package has itself been upgraded.
GRANITE_LAKE_REGISTRY_ID=0xe8a73abe8d822ad0b9441bd0df47510251c8b2c9d84f1d6ffcaa340bf2daea4e
