VITE_SUI_RPC_URL=https://rpc.ankr.com/sui/testnet
VITE_GRANITE_LAKE_PACKAGE_ID=0x6f174dfdde327fff0ad51867053b5459360cd2905c3b1657fce979649d4294e6
# VITE_GRANITE_LAKE_ORIGINAL_PACKAGE_ID defaults to VITE_GRANITE_LAKE_PACKAGE_ID;
# only set this once this package has itself been upgraded.
VITE_GRANITE_LAKE_REGISTRY_ID=0x6b73e5ab8ad7ed73c00fdf5123a660f70030384ebf4f602e259e151f301af543
